<div class="col-md-12">
	<div class="row">
		<div class="col-md-10">
			<div class="input-group">
				<span  class="input-group-addon" id="basic-addon1">ค้นหาโดย</span>
			      <select [(ngModel)]="type" name="selecttype" class="form-control">
			      <option  value="email">อีเมล</option>
			      <option  value="fulldate">วัน/เดือน/ปี</option>
			    </select>
			    	<input type="text"  [(ngModel)]="textsearch" class="form-control w-50">
			      <span class="input-group-btn">
			        <button (click)="searchWithdraw()" class="btn btn-secondary" type="button">
			        	ตกลง
			        </button>
			      </span>
			      <button (click)="getWithdraw()" class="bg-info btn btn-secondary ml-5" type="button">
			        	แสดงทั้งหมด
			       </button>
			</div>

		</div>
	</div>
	
	<div class="row">
		<table class="table text-center">
			<thead class="thead-dark ">
			    	<tr>
				     <th class="text-center" scope="col">#</th>
				     <th class="text-center" scope="col">Email</th>
				     <th class="text-center" scope="col">Time</th>
				     <th class="text-center" scope="col">Price</th>
				     <th class="text-center" scope="col">Status</th>
				     <th class="text-center" scope="col">Manage</th>
			    	</tr>
			</thead>
			<tbody>
				<tr *ngFor="let withdraw of listWithdraw;let count = index ">
					<td>{{count+1}}</td>
					<td>{{withdraw.member_email}}</td>
					<td>{{withdraw.withdraw_time| date :'d/M/y - HH:mm:ss a'}}</td>
					<td>{{withdraw.withdraw_price}} บาท</td>
					<td class="text-success" *ngIf="withdraw.withdraw_status == 1">อนุมัติแล้ว</td>
					<td class="text-danger" *ngIf="withdraw.withdraw_status == 0">ยังไม่อนุมัติ</td>
					<td>
						<button (click)="allowStatus(withdraw.withdraw_id,1)" type="button" class="btn btn-secondary bg-info">อนุมัติ</button>
						<button (click)="allowStatus(withdraw.withdraw_id,0)" type="button" class="btn btn-secondary bg-danger">ยกเลิก</button>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>
</div>