<div class="page-container">
  <!--/content-inner-->
  <div class="left-content">
	<div class="mother-layout">
		<app-managematch></app-managematch>
		<router-outlet></router-outlet>
	</div>
  </div>

 <!--//content-inner-->
		    <!--/sidebar-menu-->
			<div class="sidebar-menu">
				    <header class="logo1">
					    <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
				    </header>
					    <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
					 <div class="menu">
								  	<ul id="menu" >
									   
									     <li>
									     	<a routerLink="addgame">
										     	<i class="fa fa-picture-o" aria-hidden="true"></i>
										     	<span>เพิ่ม/แก้ไข/ลบ</span>
										     	<div class="clearfix"></div>
									     	</a>
									     </li>

									     <li>
									     	<a routerLink="searchmatch">
										     	<i class="fa fa-picture-o" aria-hidden="true"></i>
										     	<span>ค้นหาแมท</span>
										     	<div class="clearfix"></div>
									     	</a>
									     </li>

									     <li>
									     	<a routerLink="wallet">
										     	<i class="fa fa-picture-o" aria-hidden="true"></i>
										     	<span>แจ้งโอนเงิน</span>
										     	<div class="clearfix"></div>
									     	</a>
									     </li>

									     <li>
									     	<a routerLink="withdraw">
										     	<i class="fa fa-picture-o" aria-hidden="true"></i>
										     	<span>แจ้งถอนเงิน</span>
										     	<div class="clearfix"></div>
									     	</a>
									     </li>
										

								 </ul>
							    </div>
							 </div>
							 <!-- end sidebar -->
							 <div class="clearfix"></div>
</div>
